/* COLORS */
/*
rgb(20, 12, 7) dark
rgb(95, 71, 43) brownish
rgb(237, 236, 232) light
rgb(179, 173, 162) grayish
rgb(143, 126, 97) swampy
 */
/* BASE */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  color:rgb(20, 12, 7);
  background-color: rgb(237, 236, 232);
  overflow-x: hidden;
}
section{
  width:60%;
  max-width:1000px;
  margin: auto;
  position: relative;
}
@font-face {
  font-family:'eightyshades';
  src: url('eightyshades.woff') format('woff');
}
.icon{
  font-family: 'eightyshades';
  display:inline-block !important;
}
button:focus {
  outline:0;
}
::-moz-selection { /* Code for Firefox */
  color: rgb(237, 236, 232);
  background: rgb(143, 126, 97);
}
::selection {
  color: rgb(237, 236, 232);
  background: rgb(143, 126, 97);
}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/* NAVIGATION */
.menu-trigger {
  color:#000;
  text-transform:uppercase;
  padding:10px;
  cursor:pointer;
  display:none;
  text-align: center;
}
.menu-trigger:hover{
  background-color: rgba(0,0,0,0.7);
  color:white;
}
#nav_wrap{
  position: fixed;
  top:0;
  width:100%;
  background-color: rgba(255,255,255,0.4);
  z-index:10;
  transition-duration: 1s;
  transition-property: background-color;
}
#nav_wrap ul{
  list-style-type: none;
}
#nav_wrap li {
  float:left;
}
#nav_wrap a{
  color:black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition-duration: 0.2s;
}
#nav_wrap a:hover{
  background-color: rgba(0,0,0,0.7);
  color:white;
}
.active{
  background-color: rgba(179, 173, 162,0.5);
}
/* TOP SECTION */
#top{
  background-image: url("images/fog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:600px;
}
#countdown{
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  color:white;
  display: inline-block;
  margin-top: 15px;
  padding:8px 15px;
  border-radius: 10px;
}
#countdown span{
  display: inline-block;
  width:50px;
  font-size:20px;
}
header{
  text-align: center;
  position: absolute;
  top:300px;
  left:50%;
  width:100%;
  transform: translate(-50%,-50%);
}
h1{
  font-size: 55px;
  font-weight: 700;
}
h2{
  font-size:35px;
  font-weight: 300;
}
/* top for other pages */
.alt_top{
  height:250px !important;
}
.alt_top header{
  top:150px;
}
.alt_top h1{
  font-weight: 400;
  font-size:40px;
}
.alt_top h2{
  font-size:25px;
}
/* WEBSITE CONTENT */
h3{
  text-align:center;
  font-size:25px;
  font-weight:400;
  padding:10px;
  margin:50px 0 15px 0;
}
.content p{
  text-align: justify;
}
.content p::first-letter{
  color:rgb(143, 126, 97);
  font-weight: bold;
  font-size: 1.3em;
}
/* organizers */
.organizers_div{
  width:60%;
  margin:auto;
  padding-bottom:55px;
  max-width:1000px;
}
.loga{
  background-color: white;
  margin-bottom:10px;
  padding:15px;
  text-align: center;
}
.loga img{
  width:100%;
}
.organizers{
  font-size:1.1em;
  text-align: center;
}
.organizers p:not(:last-child){
  margin-bottom:12px;
}
.organizers p:not(:first-child){
  margin-top:10px;
}
.organizers a{
  color:black;
}
.organizers hr{
  width:35%;
  margin:auto;
}
/* place */
.double>div{
  width:50%;
  float:left;
  position: relative;
}
.place_link_list{
  display: flex;
  flex-wrap: wrap;
  padding:10px 0;
}
.place_link_list>a{
  margin:5px;
  padding:8px;
  border: 1px solid rgb(143, 126, 97);
  border-radius:5px;
  color:rgb(143, 126, 97);
  display: inline-flex;
  transition-duration: 0.5s;
  background-color: rgba(143, 126, 97, 0.15);
  text-transform: uppercase;
  font-size:13px;
}
.place_link_list>a:hover{
  color:rgb(237, 236, 232);
  background-color: rgb(143, 126, 97);
}
.breakout>div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:90%;
  height:45%;
  margin:auto;
  margin-top: 3%;
}
.img1{
  background-image: url("images/krakow1.jpg");
}
.img2{
  background-image: url("images/krakow.jpg");
}
/* content for files and button and flex */
.button{
  font-size:20px;
  padding:5px 10px;
  border: 2px solid rgb(143, 126, 97);
  color:rgb(143, 126, 97);
  background-color: transparent;
  position: relative;
  display: block;
  transition: all 0.3s;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin:10px 10px 0;
  width:170px;
}
.button::after{
  content:"";
  width:0;
  height:100%;
  left:0;
  top:0;
  background-color: rgba(143, 126, 97,0.9);
  position: absolute;
  transition: all 0.3s;
  z-index:-1;
}
.button:hover{
  color:rgb(237, 236, 232);
}
.button:hover:after{
  width:100%;
}
.hidden{
  display:none;
}
.add_inf{
  display:none;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.item{
  width:45%;
  margin:10px;
}
.item p{
  padding: 5px;
}
h4{
  text-transform: uppercase;
  font-weight: 300;
  font-size:22px;
  padding:5px;
}
.strong{
  font-weight: 500;
}
/* workshops */
.workshops .item{
  height:190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.workshops h4{
  text-align: center;
  background-color: rgb(200, 200, 200);
  position: absolute;
  bottom:0;
  width:100%;
  transition-duration: 0.5s;
  line-height: 40px;
  height:40px;
  padding: 0;
}
.work_desc{
  background-color: rgba(240, 240, 240, 0.9);
  position: absolute;
  top:190px;
  height:150px;
  width:100%;
  transition-duration: 0.5s;
  font-size: 14px;
}
.work_desc a{
  width:100%;
  display: inline-block;
  text-align: center;
  /* read more hidden */
  display: none;
}
.work_desc div{
  margin:10px;
}
.workshops .item:hover h4{
  bottom:150px;
}
.item:hover .work_desc{
  top:40px;
}
.workshops .item:nth-child(1){
  background-image: url("images/statystyka.jpg");
}
.workshops .item:nth-child(2){
  background-image: url("images/sedymentologia.jpg");
}
.workshops .item:nth-child(3){
  background-image: url("images/paleobotanika.jpg");
}
.workshops .item:nth-child(4){
  background-image: url("images/malakofauna.jpg");
}
.workshops .item:nth-child(5){
  background-image: url("images/geochemia.jpg");
}
/* MAP */
iframe{
  width:100%;
  height:350px;
  border:0;
}
/* HISTORY */
#history{
  background-color: white;
}
#map-canvas{
  height: 400px;
  width: 100%;
}
.history_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom:20px;
}
.history_item{
  margin:5px;
  padding:8px;
  border: 1px solid rgb(143, 126, 97);
  border-radius:5px;
  color:rgb(143, 126, 97);
  display: inline-flex;
  transition-duration: 0.5s;
  background-color: rgba(143, 126, 97, 0.15);
}
.history_item:hover,
.active_history_item{
  color:rgb(237, 236, 232);
  background-color: rgb(143, 126, 97);
}
.history_container{
  position: absolute;
  top:0;
  width:60%;
  margin:10px 0 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color:white;
  text-align: center;
  border-radius: 10px;
  padding:5px;
}
.history_container .close{
  position: absolute;
  top:10px;
  right:10px;
  cursor: pointer;
  font-weight: bold;
}
.history_container p{
  margin:5px 20px;
  font-size: 17px;
  font-weight:300;
}
.history_container a{
  font-size:14px;
}
.communicate{
  border: 1px solid rgb(95, 71, 43);
  border-radius:5px;
  margin-bottom: 10px;
}
.communicate>p{
  color:rgb(95, 71, 43);
  padding:10px;
}
/* BOTTOM SECTION */
#bottom{
  background-color:rgba(0,0,0,0.85);
  color:rgb(237, 236, 232);
  text-align: center;
  padding:10px;
}
.author{
  color:rgba(237, 236, 232,0.7);
}
/* MOBILE VERSION */
@media only screen and (max-width: 768px){
  section{
    width:95%;
  }
  .organizers_div{
    width:95%;
  }
  header{
    top:80px !important;
    left:0;
    transform: translate(0,0);
  }
  .alt_top header{
    top:50px !important;
  }
  #top{
    height:325px;
  }
  .alt_top{
    height:200px !important;
  }
  h1{
    font-size: 25px !important;
  }
  h2{
    font-size: 15px !important;
  }
  #countdown span{
    font-size:13px;
    width:30px;
  }
  .menu-trigger {
    display:block;
  }
  #nav_wrap{
    display:none;
    position: relative;
  }
  #nav_wrap li{
    float: none;
  }
  /* pliki */
  .item{
    width:100%;
  }
  /* content */
  .content{
    font-size: 15px;
  }
  .content h4{
    font-size: 20px;
  }
  .content p{
    text-align: left;
  }
  /* place */
  .double>div{
    width:100%;
  }
  .breakout{
    height:200px;
  }
  /* history */
  .history_container{
    width:100%;
  }
}
/* SPINNING GEAR */
.parent{
  display: flex;
  height:300px;
  padding:30px 0;
  margin:20px 0;
}
.gear{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: rgb(179, 173, 162);
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.gear .center{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background-color: rgb(237, 236, 232);
  border-radius: 50%;
}
.tooth{
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background:rgb(179, 173, 162);
}
.tooth:nth-child(2){
  transform: rotate(45deg);
}
.tooth:nth-child(3){
  transform: rotate(90deg);
}
.tooth:nth-child(4){
  transform: rotate(135deg);
}
@keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}
