*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Just Me Again Down Here', cursive;*/
  font-size: 20px;
}
section{
  max-width: 1600px;
  padding:0 40px;
  margin:auto;
}
h2{
  font-weight:400;
  font-size:1.8em;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* MENU */
#menu-icon{
  z-index:10;
  position: fixed;
  top:10px;
  right:10px;
  transition-duration: 1s;
  background-color: rgba(255, 209, 26, 0.85);
  opacity:0.6;
  width:70px;
  height:70px;
  border-radius:50%;
}
#menu-icon:hover{
  opacity:0.9;
}
#menu-icon span{
  display:block;
  background-color: black;
  width:34px;
  height:4px;
  margin:10px 18px;
  position: relative;
  top:10px;
}
#side-menu{
  z-index:9;
  position:fixed;
  top:0;
  right:0;
  text-align: center;
  overflow:hidden;
  width:0;
  height:100%;
  transition: 0.8s;
  background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,0.95))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 100%); /* ie10+ */
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 25%, rgba(255,255,255,0.95) 100%); /* w3c */
}
#side-menu>div{
  position:relative;
  display:inline-block;
  top:50%;
  transform:translateY(-50%);
}
.menu-button{
  display:inline-block;
  padding:8px 14px;
  margin:5px;
  color:rgba(0,0,0,1);
  text-transform: uppercase;
  transition-duration: 0.5s;
  position: relative;
  left:calc(50% + 20px);
  transform:translateX(-50%);
  float:left;
  clear:left;
  font-weight:700;
  border: 2px solid black;
}
.menu-button::after{
  z-index:-2;
  position: absolute;
  top:0;
  left:50%;
  content:"";
  width:0;
  height:70%;
  top:15%;
  background-color:rgba(255, 209, 26, 1);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.menu-button:hover::after{
  width:120%;
  left:-10%;
  transform: rotate(-10deg);
}
.menu-button:nth-child(3):hover::after{
  transform: rotate(10deg);
}
/* TOP */
#top{
  height:100vh;
  max-height: 700px;
  min-height: 300px;
  background-image: url("img/bcg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: unset;
  position: relative;
}
#particle-container{
  position:absolute;
  display:none;
}
#top>section{
  position: absolute;
  left:0;
  right:0;
  z-index:3;
  pointer-events: none;
  bottom:0;
}
h1{
  font-size:2em;
  font-weight:400;
  padding-bottom:100px;
}
h1>span{
  background-color: rgba(255, 209, 26, 0.85);
  line-height: 1.4;
  padding:0 10px;
}
/* ABOUT ME */
#about{

}
/* PROJECTS */
#projects{
  max-width: 1600px;
  margin:auto;
}
.project-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  width: 50%;
  height:300px;
}
.project>div{
  width:50%;
  height:100%;
  float:left;
}
.project-description{
  position:relative;
}
.project-description>header{
  margin:10px 10px;
  padding:2px 5px;
  font-weight: 700;
  background-color: rgba(255, 209, 26, 1);
  display:inline-block;
}
.project-description>p{
  margin:0 10px;
}
.project-description>span{
  display:block;
  position:absolute;
  bottom:10px;
  left:-30px;
  width:60px;
  height:30px;
  background-color: rgba(0,0,0,0.05);
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.project-description>span::after{
  display:block;
  position:absolute;
  content:"";
  height:100%;
  top:0;
  background-color: rgba(255, 209, 26, 1);
  overflow:hidden;
  animation-duration: 2s;
  animation-name: arrow-left;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.project:nth-child(n+3)>.project-description>span{
  left:auto;
  right:-30px;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.project:nth-child(n+3)>.project-description>span::after{
  animation-name: arrow-right;
}
@keyframes arrow-left {
  0% {
    right:0%;
    width:0%;
  }
  25% {
    right:0%;
    width:50%;
  }
  50% {
    right:50%;
    width:50%;
  }
  100% {
    right:100%;
    width:0%;
  }
}
@keyframes arrow-right {
  0% {
    left:0%;
    width:0%;
  }
  25% {
    left:0%;
    width:50%;
  }
  50% {
    left:50%;
    width:50%;
  }
  100% {
    left:100%;
    width:0%;
  }
}
.project-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project-image a{
  display:block;
  width:100%;
  height:100%;
}
.i1{
  background-image: url("img/pr1.jpg");
}
.i2{
  background-image: url("img/pr2.jpg");
}
.i3{
  background-image: url("img/pr3.jpg");
}
.i4{
  background-image: url("img/pr4.jpg");
}
/* CONTACT */
